.Products{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    max-width: 300px;
    min-width: 200px;
    height: auto;
    margin: 10px;
    padding: 20px;
    width: 100%;
    z-index: 1;
    border: 1px solid rgb(194, 188, 188); 
    background-color: #fff;
   
}
.product_info{
    height: 100px;
}
.product_info >p{
    text-align: center;
}
.product_group{
    display: flex;
    margin-top: 20px;
    align-items: center;
}
.Products >img{
    width: 100%;
    max-height: 150px;
    object-fit: contain;
    transition: all 0.5s;
    margin-bottom: 15px;
   
}
.Products > img:hover{
    transform: scale(1.25);
}
.product_price{
    margin-top: 3px;
    padding-right: 10px;
}
.product_rating{
    padding-left: 20px;
    padding-bottom: 12px;
    display: flex;
    color: rgb(234, 86, 33);
    
    
}
.Products >button{
    background-color: #f0c14b;
    border: 1px solid;
    width: 100%;
    padding: 5px 10px;
    margin-top: 5px;
    border-color: #a88734 #9c7e31;
    margin-top: 25px;
}

