.header{
    display: flex;
    flex-direction: column;
   
}
.header .header_top{
    height: 60px;
    display: flex;
    background-color: #000;
    position: sticky;
    align-items: center;
    z-index: 100;
    top: 0;
}
.header .header_left_nav{
    margin-left: 10px;
    padding: 5px 5px 2px 5px;
    color: #fff;
    border: 1px solid #555;
}
 .header .logo{
    width: 100px;
    height: 30px;
    padding: 3px;
    margin: 20px 10px 0 20px;
    margin-bottom: 18px;
    border: 1px solid yellow;
    object-fit: cover;
    background-color: #fff;
 }
 .header .headerSearch{
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 25px;
 }
 .header .headerSearch 
 .headersearch_input{
    height: 37px;
    padding: 10px;
    width: 100%;
 }
 .header .headerSearch 
 .headersearch{
    background: rgb(240, 144, 10);
    padding: 6px;
    height: 25px !important; 
 }
 /* Nav */
 
 .headerNavbar, .headerNavbar span{
    display: flex;
    justify-content: center;

 }
 
  .headerLink:first-child {
   width: 110px;
   
  }
  
  
  .headerLink{
   color: #fff;
  }
  .headerNavbar .headerOption,
  .headeraddress .headerOption
  {
   display: flex;
   flex-direction: column;
   margin: 0 10px;
  }
  .headerNavbar .headerOption,
  .headeroption_one , .headeraddress .headeroption_one {
   font-size: 14px;
  }
  .headerNavbar .headerOption,
  .headeroption_two , .headeraddress .headeroption_two{
   font-size: 16px;
   font-weight: 800;
  }
  .headerLink{
   text-decoration: none;
  }
  /* for basket */
  .header .headerOption_Basket
  .basketCount{
   font-size: 16px;
   border-radius: 40px;
   margin: 0px 15px -20px 10px;
   padding: 2px 4px;
  }

  /* HeaderBottom */
  .headerBottom{
   background-color: rgb(45, 64, 64);
   padding-top: 5px;
   height: 45px;
   color: #fff;
   display: flex;
   
  }
  .headeraddress{
   display: flex;
  }
  .headerAddress_icon{
   vertical-align: middle;
  }
  .headerBottton_Navbar{
   display: flex;
   align-items: center;
   justify-content: center;
   flex: 1;
  }
  .headerBottton_Navbar > span {
   font-size: 16px;
   font-weight: 600;
   margin-left: 10px;
   
  }