*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    overflow-x: hidden;
    scroll-behavior: smooth;
   
}

   *::selection{
    background-color: red;
    color: #000;
   }
   /* .App{
    height: 100vh;
    display: flex;
    width: 100px;
    flex-direction: column;
   } */